@import "bootstrap";

.text-white {
    color:white;
}

.profile-image {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50px
}

.center {
    text-align : center
}
/*ヘッダー**********************************/
header {
    width: 100%;
    height: 70px;
    padding: 4px 30px;
    background-color: #000000;
    color: white;
}

.header .nav-item {
    display: inline-block;
    color: #fff;
    font-size: 14px;
}



.top-head {
    background-image: url(https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
}

.header-left-nav {
    float: left;
    padding-right: 10px;
}

.header-right-nav {
    float: right;
}

.margin-right{
    margin-right: 45px;
}

.header-sharch {
    position: relative;
}

.search-form{
    display: inline-block;
    padding-top: 10px;
}

.site-name{
    vertical-align: middle;
    border-style: none;
}

.site-name-font{
    font-size: 2em;
    font-family: 'Cherry Swash', cursive;
}

d-none {
    display: none!important;
}

.header i {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 18px;
    color: black;
}

.text-position{
    padding: 3px 0 3px 2em;
}


/*フッター************************************/
.footer {
    bottom: 0;
    width: 100%;
    height: 180px;
    padding-top: 90px;
    background-color: #111;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}



/*設定画面*******************************/

.input-form{
    background-color:white ;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    max-width: 880px;
    border: 1px solid #eaedef;
    margin: 50px auto;
}



.sidebar_fixed {
    position: sticky;
    top: 60px;
}

.user-nav {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px;
}

.user-view {
    background-color: #F6F8F9;
    border-left: 2px solid #e2e2e2;
    background-size: cover;
    bottom: 100px;
}


.side {
    width:20%;
    height: 100vh;
} 

.content {
    background-color:#e2e2e2;
    width:100%;
    height: 100vh;
    margin-left:10px;/*サイドバーとメインコンテンツの間に隙間*/
}

article {
    display:flex;/*サイドバーとメインコンテンツを横並びにする*/
}

.user-view-box {
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 30px auto;
}

.update-content{
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}

.side-menu{
    padding: 40px;
}

/*room************************************************/

.room-show, .reservations-new {
    padding: 30px 0;
}

.room-posts table, .reservations table {
    min-width: 800px;
}

.room-posts, .reservations {
    max-width: 100vw;
    padding: 30px 60px;
}

.room-posts-image, .reservations-image {
    width: 240px;
    height: 140px;
    object-fit: cover;
}

.room-posts table thead tr, .reservations table thead tr {
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
}

.room-posts table tbody td, .reservations table tbody td {
    padding: 10px;
}

.room-show-image, .reservations-new-image {
    width: 100%;
    object-fit: cover;
}

.room-show-detile, .reservations-new-detile {
    display: flex;
    align-items: center;
}

.room-show-detile-icon, .reservations-new-detile-icon {
    padding: 10px;
}

.room-show-profile, .reservations-new-profile {
    padding: 15px;
}

.room-show-profile-name, .reservations-new-profile-name {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
}

.room-show-profile-address, .reservations-new-profile-address {
    font-size: 14px;
}

.room-show-detile-content, .reservations-new-detile-content {
    font-size: 16px;
    line-height: 30px;
    padding: 30px 10px;
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
    word-break: break-all;
}

.room-show-nav, .reservations-new-nav {
    padding: 20px;
    border: 1px solid #eaedef;
}

.room-show-date-select, .reservations-new-date-select {
    padding: 15px 0;
}




/*reservation*********************************/

.reservations-new-check-content {
    border-bottom: 1px solid #eaedef;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.reservations-new-date-select {
    padding: 15px 0;
}

.room-show-check-content, .reservations-new-check-content {
    border-bottom: 1px solid #eaedef;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.room-padding{
    padding: 15px
}

.room {
    width: 100%;
    padding: 30px 60px;
}

.room-frame-inner {
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}

.room-image-out {
    position: relative;
    width: 100%;
    background: #F6F8F9;
    height: 200px;
}

.room-image {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 20px;
    object-fit: cover;
}

.room-profile {
    width: 100%;
    padding: 15px;
}

.room-profile-name {
    font-size: 18px;
    font-weight: bold;
    color: #909090;
}

.room-profile-city {
    font-size: 16px;
    font-weight: bold;
    color: black
}

.room-profile-price {
    text-align: right;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
}

.search-result {
    padding-top: 20px;
}